.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #B6BCB8;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

.header__nav {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  color: #FFFFFF;
  margin: 0 4.625em 0 0;
  cursor: pointer;
}

.header__nav:last-child {
  margin: 0;
}