.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 40px 80px;
}

.footer__group {
  display: flex;
  flex-direction: column;
}

.footer__group {
  margin-right: 10vw;
}

.footer__link, .footer__author {
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #717171;
  text-decoration: none;
  margin-bottom: 5%;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__author {
  margin: 0;
  height: 20px;
  align-self: flex-end;
}